name: Main Pod Test

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Build and Push to Docker Hub"]
    types:
      - completed
    branches:
      - main

jobs:
  test-main-pod:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    env:
      RUNPOD_API_KEY: ${{ secrets.RUNPOD_API_KEY }}
      BOOTUP_TIMEOUT_SEC: 600
      API_URL: https://geister-api.realmsgos.dev

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install -e .

      - name: Run remote CI tests
        run: |
          geister pod restart main --deploy-new --verbose
          ./scripts/health_check.py $BOOTUP_TIMEOUT_SEC "$API_URL"
          ./scripts/run_remote_ci_tests.py "$API_URL"
